@model HistoryApiSample.Models.SelectorViewModel
@{
    ViewBag.Title = "Selector";
}

<style>
    .lbl {
        display: inline-block;
        width: 210px;
        text-align: right;
    }
</style>

<h2>Car select</h2>

@using (Html.BeginForm())
{
    <div id="divMake">
        @Html.LabelFor(m => m.SelectedMake, new { @class = "lbl" })
        @Html.DropDownListFor(m => m.SelectedMake, Model.Makes, " -- please select a make -- ")
    </div>

    <div id="divModel" style="display: none">
        @Html.LabelFor(m => m.SelectedModel, new { @class = "lbl" })
        @Html.DropDownListFor(m => m.SelectedModel, Model.Models, " -- please select a model -- ")
    </div>

    <input type="submit" value="Continue" />
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            init();
            $("#SelectedMake").change(makeChanged);
            $("#SelectedModel").change(modelChanged);
        });

        window.addEventListener('popstate', function (event) {
            alert('popstate');
        });

        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        function makeChanged() {
            var selectedMake = $("#SelectedMake").val();
            if (selectedMake === "") {
                $('#divModel').hide();
                // clear models
                // push another history state
            } else {
                loadModels(selectedMake, true);
            }
        }

        function loadModels(make, pushState, onSuccess) {
            $.ajax({
                cache: true,
                type: 'GET',
                url: '@Url.Action("GetModelsByMake")',
                data: { 'makeId': make },
                success: function (data) {
                    if (pushState)
                        history.pushState(null, null, "/Home/Selector?mkId=" + make);
                    var models = $("#SelectedModel");
                    models.empty();
                    models.append($("<option></option>").attr("value", "").text(" -- please select a model -- "));
                    $.each(data, function (key, val) {
                        models.append($("<option></option>").attr("value", val.Id).text(val.Text));
                    });
                    $('#divModel').show();
                    if (onSuccess)
                        onSuccess();
                },
                error: function (xhr, ajaxOptions, error) {
                    alert(error);
                    $('#divModel').hide();
                }
            });
        }

        function modelChanged() {
            var makeId = getParameterByName("mkId", document.location.href);
            var modelId = $("#SelectedModel").val();
            if (!modelId)
                history.pushState(null, null, "/Home/Selector?mkId=" + makeId);
            else
                history.pushState(null, null, "/Home/Selector?mkId=" + makeId + "&mdId=" + modelId);
        }

        function init() {
            var makeId = getParameterByName("mkId", document.location.href);
            if (!makeId) return;
            var modelId = getParameterByName("mdId", document.location.href);
            loadModels(makeId, false, function () {
                $("#SelectedModel").val(modelId);
            });
        }

    </script>
}